@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">商品一覧</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">SampleWebアプリ</a>.</p>
</div>
